.header-content {
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date-clock {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.date {
    display: flex;
}

@media screen and (max-width:768px) {
    
}